{% extends "encyclopedia/layout.html" %}

{% block title %}Create New Page{% endblock %}

{% block body %}
<h1>Create New Wiki Page</h1>
<form action="{% url 'encyclopedia:save' %}" method="POST">
    {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="Wiki Page Title" required>
        </div>
        <div class="form-group">
            <textarea class="form-control textarea" id="wiki-content" name="wiki-content" placeholder="Write your content in Markdown format here..." rows="20" required></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Save">
    </form>
{% endblock %}